* {
  .contactMe {
    width: 40%;
    margin: 100px auto 0 auto;
    line-height: 2;
  }
  
  .btn {
    background: rgba(0, 0, 0, 0.9);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #00C2CB;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
    padding: 12px 22px 12px 22px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    line-height: 1;
    position: relative;
    top: 50px;
  }
  
  .btn:hover {
    border: solid #337FED 0;
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
  }
  
}
